<a href="https://colab.research.google.com/github/javierber/javierber/blob/main/Copy_of_Project_1_Part_2_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
# Imports
import pandas as pd
import numpy as np

In [34]:
import pandas as pd
file = '/content/drive/MyDrive/Colab Notebooks/sales_predictions.csv'
df = pd.read_csv(file, header =0)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [35]:
#1) How many rows and columns?
df.shape

(8523, 12)

In [36]:
#2) What are the datatypes of each variable?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [37]:
#3) Are there duplicates? If so, drop any duplicates.
df.duplicated().sum()

0

In [38]:
#4) Identify missing values.
print(df.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [42]:
#5) Decide on how to address the missing values and do it! 
#(This requires your judgement, so explain your choice).
df['Outlet_Size'].value_counts().mean
df.isnull().sum().sum()
median = df['Outlet_Size'].median
df['Outlet_Size'].fillna(median, inplace=True)
df.isnull().sum().sum()

1463

In [49]:
df['Item_Weight'] = df.groupby(['Item_Identifier'])['Item_Weight'].ffill()
df['Item_Weight'] = df.groupby(['Item_Identifier'])['Item_Weight'].bfill()
print(df.isnull().sum())

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#5 *-Found missing data for the Outlet_Size column.  Decided to address this issue by capturing the median of the column and perform replace w/ median for the missing data. Item_Weight present and can be used to substitute the missing Item_Weight for Item_Identifier.This should solve your problem. The ffill() will look at all the next rows to see if you have anything available and will fill it and bfill() will look at previous rows to fill the null values.* 

Source:https://stackoverflow.com/questions/56119580/fill-values-in-a-column-of-a-particular-row-with-the-value-of-same-column-from-a

In [50]:
#6) Confirm that there are no missing values after addressing them.
print(df.isnull().sum())

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [12]:
#7) Find and fix any inconsistent categories of data 
#(example: fix cat, Cat, and cats so that they are consistent) 
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.lower()
df['Item_Fat_Content'].value_counts(dropna=False)
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('lf', 'low fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'regular')
df['Item_Fat_Content'].value_counts(dropna=False)

low fat    5517
regular    3006
Name: Item_Fat_Content, dtype: int64

In [13]:
#8) For any numerical columns, obtain the summary statistics
# of each (min, max, mean)
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]